@charset "UTF-8";
/* CSS Document */
* {margin: 0; padding: 0;}
body, html {}

#wrapper { width: 80%; margin: 0 auto;}

#header {font-family:Arial, Helvetica, sans-serif; font-size: 3em;padding: 35px 0 35px 0;}

#main {}

#footer {font-family:Arial, Helvetica, sans-serif; font-size: 3em;padding: 35px 0 35px 0;}


