*{margin: 0; padding: 0;}

body, html{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;}
#clear {clear: both;}
#wrapper{
	width: 100%;
	height: 650px;
	/*margin: 0 auto;*/
	
	background-color: #fff;}
	
#header {
	width: 100%; 
	height: 10px;}
#steuerung {position: fixed; top: 30px;left: 60px; }
#play {
	width: 150px; height: 30px;
	float: left;
	color: #F30;
	font-size: 2em;
	cursor: pointer;
	}
#play a{
	background-color: #0CC;
	width: 200px; height: 30px;
	float: left;
	color: #f30;
	text-decoration: none;}
#link a{display: none;color: #fff;width: 200px; height: 30px;
	float: left;
	text-decoration: none;font-size: 2em;}	


#leben{
	font-size: 1.2em;
	position: fixed;  top: 580px;left: 80px;z-index:999999;color: #ececec;}
#timer{
	font-size: 1.2em;
	position: fixed;  top: 560px;left: 80px;z-index:999999;color: #ececec;}	
	
	

	
#spiel{
	width: 600px;
	height: 600px;
	margin-left: 10px;
	background-color: #000;
	float: left;}
	
.worte {
	
	display:none; 
	font-size: 1em;
	margin: 2px;
	float: left;
	}


#score {
	width:400px;height: 600px;
	float: left;
	margin-left: 10px;}
#score h1 {font-size: 3em; }
#score img {position: relative; top: -80px; float: right;margin-right: 50px;}
#einladung {
	width:400px; }

#startbildschirm {
	width: 600px; 
	height: 600px; 
	background-color: #eCeCeC;}
	
	
#startbildschirm p.klein {
	margin: 0 auto;
	width: 500px; 
	height: 290px; 
	font-size: 1.2em;
	padding-top: 80px; 
	}

	
#gameOver p, #gratulation p{
	position: absolute; top: 240px; z-index: 999;
	background-color: #FC3;
    font-size: 2em;
	
    padding: 25px;
    display: none;
	color: #fff;}
	
#gratulation a{
	
	font-weight: 400;
    text-decoration: none;
	color: #fff;}


	
