@charset "UTF-8";
/* CSS Document */
body {
	color: #ffffff; 
	background-color: #000000;
	font-family: 'Homenaje', sans-serif; 
	font-weight: 400;color: #fff;}
#wrapper {
	width: 600px;
	height: 750px; 
	margin: 0 auto; 
	border: 1px solid white;}
#startbildschirm {
	width: 600px; 
	height: 800px; 
	background-color: #000;}
#startbildschirm p {
	width: 600px; 
	height: 160px; 
	font-size: 10em; 
	background-color: #F63;
	cursor: pointer; 
	padding: 10px; 
	font-family: 'Orbitron', sans-serif;
	font-weight: 900;} 
#startbildschirm p.klein {
	margin: 0 auto;
	width: 550px; 
	height: 90px; 
	font-size: 1.5em;
	padding-top: 80px; 
	background-color: #000;
	font-family: 'Homenaje', sans-serif; 
	font-weight: 400;}
#score{
	width:600px;
	height:150px;
	background:#000; 
	color: #fff;}
#clear {clear: both;}
.worte {
	display:none;
	font-family: 'Homenaje', sans-serif; 
	font-weight: 400;
	font-size: 1.2em;
	padding:2px; float: left;}
#leben, #timer {
	background:#000;
	color:#fff;
	padding: 10px;
	width: 280px; 
	height: 20px; 
	float: left;}
#gameOver p{
	position: absolute; top: 340px; z-index: 999;
    font-size: 2.5em;
	font-family: 'Orbitron', sans-serif;
	font-weight: 900;
    padding: 25px;
    display: none;
	margin: 0 auto;}
#gratulation p{
	position: absolute; top: 240px; z-index: 999;
    font-size: 2.5em;
	font-family: 'Orbitron', sans-serif;
	font-weight: 900;
    padding: 25px;
    display: none;
	margin: 0 auto;}
